In [1]:
%pip install -q pandas numpy

Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv('logs.csv')
data.head()

      user_id   source       email  purchase
0  7141786820    other         NaN         0
1  5644686960    email  c129aa540a         0
2  1914055396  context         NaN         0
3  4099355752    other         NaN         0
4  6032477554  context         NaN         1

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 4 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   user_id   200000 non-null  int64
 1   source    198326 non-null  object
 2   email     13953 non-null   object
 3   purchase  200000 non-null  int64
dtypes: int64(2), object(2)
memory usage: 6.1+ MB

In [5]:
data.isna().sum()

user_id          0
source        1674
email       186047
purchase         0
dtype: int64

In [6]:
data['user_id'].value_counts()

user_id
5678294978    11
1743281508    10
9713454510    10
9798964800     9
7450740664     9
              ..
7850712396     1
7415908571     1
7875937474     1
3655904078     1
6064948744     1
Name: count, Length: 86571, dtype: int64

In [9]:
data['purchase'] = data['purchase'].astype(bool)

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 4 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   user_id   200000 non-null  int64
 1   source    198326 non-null  object
 2   email     13953 non-null   object
 3   purchase  200000 non-null  bool
dtypes: bool(1), int64(1), object(2)
memory usage: 4.8+ MB

In [11]:
data['purchase'].value_counts()

purchase
False    187897
True      12103
Name: count, dtype: int64

In [16]:
data['source']=data['source'].replace('None', None)
data['source']=data['source'].replace('undef', None)

In [17]:
data['source'].value_counts()

source
other      133834
context     52032
email       12279
Name: count, dtype: int64

In [18]:
data.isna().sum()

user_id          0
source        1855
email       186047
purchase         0
dtype: int64

In [4]:
data_gb_ui = data.groupby('user_id')['purchase'].sum()

In [5]:
data_gb_ui.sort_values(ascending=False) #сколько установок по каждому юзеру

user_id
7370058986    4
3708073012    3
5189168982    3
922485345     3
463130195     3
             ..
3552682911    0
3552629301    0
3552349983    0
3552156723    0
9999792842    0
Name: purchase, Length: 86571, dtype: int64

In [25]:
total_installs = data.shape[0]
total_purchases = data['purchase'].sum()
total_conversion = total_purchases / total_installs # 6 процентов от каждой установки купили

In [27]:

unique_installs = data_gb_ui.shape[0]
unique_purchases = pd.DataFrame(data_gb_ui).query('purchase != 0').shape[0]

unique_conversion = unique_purchases / unique_installs

In [29]:
print(f'Конверсия: {total_conversion:.2%}') #количество установок
print(f'Конверсия уникальная: {unique_conversion:.2%}') #

Конверсия: 6.05%
Конверсия уникальная: 13.24%